@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body{
      font-family: "Work Sans", sans-serif;
}
.active{
      border: 1px solid #23BE0A;
      border-radius: 8px;
      color: #23BE0A;
}